<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
      <div class="navbar">
        <a class="name" href="/">Billel Rch</a>
        <i id="bars" class="fas fa-bars" onclick="openMenu()"></i>
      </div>

      <div id="menu_overlay"></div>
      <div id="menu_slide" class="menu_slide ">
        <a href="javascript:void(0)" class="menu_x" onclick="closeMenu()">&times;</a>
        <a href="/works">Work</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>






      <script>
          const menuSlide = document.getElementById("menu_slide");

          function openMenu() {
            menuSlide.style.width = "200px"
            document.getElementById("menu_overlay").style.width = "100%"
          }

          function closeMenu(){
              menuSlide.style.width = "0px"
              document.getElementById("menu_overlay").style.width = "0px"
          }
      </script>
</body>
</html> 