@font-face {
    font-family: fontLight;
    src: url(Fonts/HvDTrial_Brandon_Grotesque_light-BF64a625c93e709.otf);
}

@font-face{
    font-family: fontBold;
    src: url(Fonts/HvDTrial_Brandon_Grotesque_bold-BF64a625c9151d5.otf);
}

@font-face{
    font-family: fontMedium;
    src: url(Fonts/HvDTrial_Brandon_Grotesque_medium-BF64a625c84a521.otf);
}


body{
    font-family: fontLight;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    height: 40px;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    border-bottom: 1px solid lightslategray;
    background-color: #fff;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}


.name{
    text-decoration: none;
    font-family: fontBold;
    font-size: 18px;
    color: black;
    letter-spacing: 0.8px;
}



#bars{
    font-size: 20px;
    transition: color 0.3s;
}

#bars:hover{
    cursor: pointer;
    color: rgb(113, 169, 188);
}



.menu_slide{
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 20;
    background-color: white;
    transition: 0.5s;
    padding-top: 60px;
    overflow-x: hidden;
}

.menu_slide a {
    padding: 8px 32px;
    text-decoration: none;
    font-size: 23px;
    color: #818181;
    display: block;
    font-family: fontLight;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.menu_slide a:hover{
    color: #f1f1f1;
}

.menu_slide .menu_x{
    padding: 0px 0px 0pxx 20px;
    margin-top: 0px;
    position: absolute;
    top: 0;
    right: 16px;
    margin-left: 50px;
}

.hidden{
    display: none;
}